div[ng-app] { margin: 10px; }
.btmtd { border-style: none; }
.popover {
    max-width: 600px;
}
form[editable-form] > div {margin: 10px 0;}

body
{
	margin: 15px;
}

h3
{
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

dl.inline dd {
  display: inline;
  margin: 0;
}
dl.inline dd:after
{
  display: block;
  content: '';
}
dl.inline dt
{
  display: inline-block;
  min-width: 180px;
}

dt.sum
{
	font-style: italic;
}

dd.sum
{
	font-style: italic;
}

dt:after 
{
  content: ": ";
}

#abs_right
{
	position: absolute;
	right: 0px;
	top: 0px;
}

#main
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#info
{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#user
{
	float: left;
	padding-right: 30px;
	width: 25%;
}

#calculations
{
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	border-left: 1px solid black;
	width: 25%;
}

#chart
{
	float: left;
	padding-left: 30px;
	border-left: 1px solid black;
	width: 50%;
}

[ac-chart] 
{
	height: 200px;
}

#infofix
{
	clear: both;
	float: none;
	height: 0px;
	width: 100%;
}

#plans
{
	margin-top: 60px;
}

#plan_header
{
	margin-top: 60px;
	position: relative;
}

#plan_content
{
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-top: 30px;
}

caption.weekDay
{
	font-size: 14px; 
	font-weight: bold;
	width: 100%;
	text-align: center;
}

td.planedDone
{
	text-align: center;
	font-style: italic;
}